.container {
  width: 1000px;
  text-align: center;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  margin: 0 auto;
  display:block;
  width:400px;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus 		{ outline:none; }

.country {
  width: 400px;
  margin: 0 auto;
}

.country:nth-child(odd) {
  background-color: #808080;
}

.country:nth-child(even) {
  background-color: #707070;
}